<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>

    <style>

        .sidebar1 {

            /*sticky -- > col-md-offset-2 add to main*/

            background-color: #f5f5f5;
            border-right: 1px solid #eee;
            bottom: 0;
            display: block;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 20px;
            position: fixed;
            top: 51px;
            z-index: 1000;
        }

        /* Special class on .container surrounding .navbar, used for positioning it into place. */
        .navbar-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 20;
            margin-top: 20px;
        }

            /* Flip around the padding for proper display in narrow viewports */
            .navbar-wrapper .container {
                padding-left: 0;
                padding-right: 0;
            }

            .navbar-wrapper .navbar {
                padding-left: 15px;
                padding-right: 15px;
            }

        .navbar-content {
            width: 320px;
            padding: 15px;
            padding-bottom: 0px;
        }

            .navbar-content:before, .navbar-content:after {
                display: table;
                content: "";
                line-height: 0;
            }

        .navbar-nav.navbar-right:last-child {
            margin-right: 15px !important;
        }

        .navbar-footer {
            background-color: #DDD;
        }

        .navbar-footer-content {
            padding: 15px 15px 15px 15px;
        }

        .dropdown-menu {
            padding: 0px;
            overflow: hidden;
        }

    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Employee Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            @if (@Session["IsAuthenticated"].ToString() == "1")
            {

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Account
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-content">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img src="~/Content/image/empty_profile_image.JPG"
                                                 alt="Alternate Text" class="img-responsive" />
                                            <p class="text-center small"> 
                                                <a href="#">Change Photo</a>
                                            </p>
                                        </div>
                                        <div class="col-md-7">
                                            <span>Bhaumik Patel</span>
                                            <p class="text-muted small">
                                                mail@gmail.com
                                            </p>
                                            <div class="divider">
                                            </div>
                                            <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-footer">
                                    <div class="navbar-footer-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="@Url.Action("LogOut", "Home", new { area = "" }, null)" class="btn btn-default btn-sm pull-right">Sign Out</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            }
        </div>
    </div>
    
    <div class="container-fluid">

        <div class="row">


            @if (@Session["IsAuthenticated"].ToString() != "1")
            {
                @RenderBody()
            }
            else
            {
                <div class="col-sm-3 col-md-2 sidebar" style="border:1px solid black;margin-top:30px;height:200px">
                    .col-xs-6 .col-md-4
                </div>
                <div class="col-sm-9 col-md-10 main" style="margin-top:30px;">
                    @RenderBody()
                </div>
            }


        </div>

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - All right reserved to RAKIB JAHAN KHAN</p>
        </footer>

    </div>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jasny-bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
